body
{
    background-color: rgb(185, 255, 255);
}

button
{
    background-color: rgb(255, 220, 155);
    width: 200;
    font-size: 30px;
    border-radius: 10%;
    text-shadow: 5px 5px 5px rgb(255, 238, 84);
}

.copy_right_footer 
{
    position: fixed;
    color: #5699d4;
    bottom: 0;
    width: 100%;
    font-size: 25px;
    background-color: #bee5ff;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(75, 78, 255);
 }

 p 
 {
    font-size: 20px;
 }
